.header{
    background-image: (url(https://xdcs.cdnchinhphu.vn/446259493575335936/2023/1/14/cn-16736730916931672513377.jpg));
    
}

.nav{
    background-color: black;
    color: white;
    height: 35px;
    ;
}

.img{
    
    padding-right:10px;
    
}